<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render "layouts/sidebar" %>
    <div class="col">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4"> 
            <%= render "layouts/card" %>
            <%= render "layouts/card" %>
            <%= render "layouts/card" %>
        </div>
     </div>
  </div>
</div>