<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center" style="background: linear-gradient(120deg, #4A154B 0%, #350d36 100%);">
  <div class="text-center text-white w-100">
    <h1 class="display-4 fw-bold mb-1">チームの力を最大化する<br>プロジェクト管理ツール</h1>
    <p class="lead mb-2">あなたのチームのコラボレーションを、もっとシンプルに、もっと楽しく。<br>直感的なUIと強力なタスク管理で、仕事がはかどる。</p>
    <div>
      <a href="<%= new_user_registration_path %>" class="btn btn-success btn-lg px-4 me-1">無料で始める</a>
      <a href="<%= new_user_session_path %>" class="btn btn-outline-light btn-lg px-4">ログイン</a>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <img src="https://a.slack-edge.com/80588/marketing/img/homepage/billo-hero-ui.jp.png" alt="イメージ" class="img-fluid shadow rounded" style="max-width: 600px;">
    </div>
  </div>
</div>