<!-- filepath: /Users/horiuchiinori/game_manager/app/views/layouts/_task_info_sidebar.html.erb -->
<div class="p-3 border-bottom">
  <h5>タスクについて</h5>
</div>
<div class="flex-grow-1 overflow-auto p-3">
  <div class="mb-3">
    <h6 class="text-primary">確認待ちタスク</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-0">確認待ちタスク1</li>
      <li class="list-group-item border-0">確認待ちタスク2</li>
    </ul>
  </div>
  <div>
    <h6 class="text-success">完了済みタスク</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-0 text-success">完了タスク1</li>
      <li class="list-group-item border-0 text-success">完了タスク2</li>
    </ul>
  </div>